.wrapper {
  display: inline-block;
  width: 100%;

  @include breakpoint(500px down) {
    padding: 0;
    width: 100% !important; /* stylelint-disable-line */
  }
}

.container {
  margin-bottom: 10px;
  padding: 0 10px;
  position: relative;
}

.label {
  color: $black;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
}

.labelInvalid {
  color: $error;
  composes: label;

  .input {
    border: 1px solid $error;
  }
}

.input {
  appearance: none;
  background-color: #fefefe;
  border: 1px solid #cacaca;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-sizing: border-box;
  color: #0a0a0a;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1rem;
  padding: 0.5rem;
  resize: none;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, box-shadow 0.5s;
  width: 100%;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    background-color: #fefefe;
    border: 1px solid #8a8a8a;
    box-shadow: 0 0 5px #cacaca;
    outline: none;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, box-shadow 0.5s;
  }
}

input[type='text'].input {
  height: 2.4rem;
}
