$color:      $black;
$size:       15px;
$speed:      0.75s;
$thickness:  $size / 3;

.container {
  min-height: $size + 20px;
  position: relative;
}

.spinner {
  // Animation
  animation-duration: $speed;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;

  //border
  border: $thickness solid $color;
  border-radius: 50%;
  border-right-color: transparent;

  //
  display: inline-block;
  height: $size;
  margin-bottom: 1rem;
  margin-left: 10px;
  vertical-align: middle;
  width: $size;
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
