.test {
  color: $red;
  display: flex;
  max-width: $global-width;

  @include breakpoint(medium) {
    color: $blue;
  }

  @include nojs() {
    color: rebeccapurple;
    background-color: red;
  }
}

.hello {
  composes: test;
}
