{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "formatter": "eslint-pretty-formatter",
  "rules": {
    "import/no-webpack-loader-syntax": [0],
    "standard/no-callback-literal": [0],
    "space-before-function-paren": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "camelcase": [0],
    "react/prop-types": [ 2,  { ignore: ["data", "color"], }],
  },
  "globals": {
    "Back" : false,
    "BezierPlugin" : false,
    "Bounce" : false,
    "Circ" : false,
    "CSSPlugin" : false,
    "Cubic" : false,
    "describe" : false,
    "document": false,
    "Draggable" : false,
    "Ease" : false,
    "EaseLookup" : false,
    "Elastic" : false,
    "expect" : false,
    "Expo" : false,
    "fetch" : false,
    "graphql": false,
    "it" : false,
    "Linear" : false,
    "Power0" : false,
    "Power1" : false,
    "Power2" : false,
    "Power3" : false,
    "Power4" : false,
    "Quad" : false,
    "Quart" : false,
    "Quint" : false,
    "RoughEase" : false,
    "ScrollMagic": false,
    "Sine" : false,
    "SlowMo" : false,
    "SplitText" : false,
    "SteppedEase" : false,
    "Strong" : false,
    "ThrowPropsPlugin" : false,
    "TimelineLite" : false,
    "TimelineMax" : false,
    "TweenLite" : false,
    "TweenMax" : false,
    "VelocityTracker" : false,
    "window": false,
  }
}
