{
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended", "standard", "standard-react"],
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/jsx-closing-bracket-location": [2],
    "react/jsx-closing-tag-location": [2],
    "import/no-webpack-loader-syntax": [0],
    "standard/no-callback-literal": [0],
    "space-before-function-paren": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "camelcase": [0],
    "react/prop-types": [ 2,  { "ignore": [ "data" ] }]
  },
  "globals": {
    "document": false,
    "window": false,
    "ScrollMagic": false,
    "TimelineLite" : false,
    "TimelineMax" : false,
    "TweenLite" : false,
    "TweenMax" : false,
    "Back" : false,
    "Bounce" : false,
    "Circ" : false,
    "Cubic" : false,
    "Ease" : false,
    "EaseLookup" : false,
    "Elastic" : false,
    "Expo" : false,
    "Linear" : false,
    "Power0" : false,
    "Power1" : false,
    "Power2" : false,
    "Power3" : false,
    "Power4" : false,
    "Quad" : false,
    "Quart" : false,
    "Quint" : false,
    "RoughEase" : false,
    "Sine" : false,
    "SlowMo" : false,
    "SteppedEase" : false,
    "Strong" : false,
    "Draggable" : false,
    "SplitText" : false,
    "VelocityTracker" : false,
    "CSSPlugin" : false,
    "ThrowPropsPlugin" : false,
    "BezierPlugin" : false,
    "fetch" : false,
    "describe" : false,
    "it" : false,
    "expect" : false,
    "graphql": false
  },
  "settings": {
    "react": {
      "createClass": "createClass"
      }
    }
}
