/* stylelint-disable color-named */
.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.teal {
  background-color: teal;
}

.white {
  background-color: white;
}