.cover {
  background-color: $background;
  display: block;
  position: fixed;
  z-index: 100;
}

.fade {
  bottom: 0;
  composes: cover;
  display: none;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
}

.swipe {
  bottom: 0;
  composes: cover;
  left: -100%;
  right: 100%;
  top: 0;
}
