/* Global */
// $global-margin: 1rem;
// $global-padding: 1rem;
// $global-position: 1rem;
// $global-radius: 0;
// $global-menu-padding: 0.7rem 1rem;
// $global-menu-nested-margin: 1rem;
// $global-text-direction: ltr;
// $global-flexbox: true;
// $global-prototype-breakpoints: false;
// $global-button-cursor: auto;

/* Grid settings */
$global-flexbox: true;

$global-width: 35em;
$grid-row-width: $global-width;

$gutter: 20px;

$grid-column-gutter: (
  small: 40px,
  medium: 40px,
);
