@import './typography';
@include foundation-global-styles;
@include foundation-typography;

code, kbd, samp {
  font-size: 0.85em;
}

body {
  color: $primary;
}

a {
  text-decoration-skip: edges;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

ul {
  padding: 0;
}

main {
  flex: 1 0 auto;
  overflow: hidden;
}

.root > div {
  display: flex;
  flex-direction: column;
  height: 0;
  min-height: 100vh;
}
