body {
  background-color: $background;
  color: $primary;
  font: $body-weight 1rem $body-font;
}

main {
  flex: 1 0 auto;
}

.root > div {
  display: flex;
  flex-direction: column;
  height: 0;
  min-height: 100vh;
}
